{
  "presets": [
    "react",
    ["env", {
      "modules": false,
      "useBuiltIns": true,
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "useBuiltIns": true,
          "targets": {
            "browsers": ["last 2 versions"]
          }
        }]
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
