{
  "extends": "airbnb",
  "globals": {
    "describe": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true,
    "it": true,
    "context": true,
    "expect": true,
    "sinon": true,
    "xit": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "classes": true
    }
  },
  "rules": {
    "space-before-function-paren": [2, "always"],
    "no-unused-expressions": "off"
  }
}
