body {
  padding-top: 42px;
}

.link-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  padding: 10px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  background: #4b75b4;
  font-size: 1.2em;
  z-index: 999999;
}

.link-container > * {
  padding: 0 5px;
  color: #e9d1ba;
}

.github-cta {
  float: left;
}
