.box {
  background-color: blue;
  cursor: pointer;
}

.box-small {
  width: 100px;
  height: 100px
}

.box-big {
  width: 300px;
  height: 300px
}

.float-right {
  margin-top: 300px;
  float: right;
}
