body {
  overflow-x: hidden;
  background-color: #000;
}

p {
  margin: 2em;
  font-size: 1.2em;
  font-family: sans-serif;
}

.box {
  display: inline-block;
  background-color: #fff;
  background-position: 0 0;
  cursor: pointer;
  background-size: 100% 100%;
}

.box-small {
  width: 300px;
  height: 150px;
  margin: 0.25em;
}

.box-big {
  position: relative;
  padding-top: 50%;
  width: 100%;
}

.box-highlighted {
  background: #782128;
  background-position: 0 0;
  background-size: 100% 100%;
}

.content-bg {
  padding: 10em 0;
}

.vader-container {
  margin-top: -120px;
  margin-left: -70px;
}

.insignia {
  display: block;
  margin: 3em auto 2em;
  width: 75px;
  height: 75px;
}

.vader-bg {
  background-image: url('images/vader-bg.jpg');
  width: 1200px;
  height: 600px;
  background-size: cover;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.container-inner {
  display: flex;
  flex-wrap: wrap;
  max-width: 750px;
  justify-content: center;
  margin: 0 auto;
}

.content-margin {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  padding-bottom: 0.5em;
}

.content-text {
  max-width: 800px;
  padding: 0 0.5em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 3em;
  font-family: sans-serif;
}

@keyframes wobble {
  0% {
    transform: scale(0.9);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.wobble-in {
  transform: scale(0.9);
  animation-name: wobble;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0.5;
  animation-timing-function: ease-out;
}

.wobble-in:nth-child(2) {
  animation-delay: 0.05s;
}

.wobble-in:nth-child(3) {
  animation-delay: 0.1s;
}

.wobble-in:nth-child(4) {
  animation-delay: 0.15s;
}

.wobble-in:nth-child(5) {
  animation-delay: 0.2s;
}

.wobble-in:nth-child(6) {
  animation-delay: 0.25s;
}
