* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #676767;
}

.item.start {
  background: url(./stormy.jpg);
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.hero-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  z-index: -1;
  opacity: 0.2;
}

.hero {
  height: 200px;
  background: url(./starwars.png);
  background-color: black;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.end {
  width: 300px;
  height: 300px;
  background: url(./stormy.jpg);
  background-size: cover;
  background-position: center center;
  flex-shrink: 0;
}

.end-container {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
}

@media only screen and (min-width: 600px) {
  .flex-container,
  .article-body,
  .end-container {
    width: 500px;
  }
}

@media only screen and (min-width: 1000px) {
  .flex-container,
  .article-body,
  .end-container {
    width: 900px;
  }
}

.items {
  max-width: 600px;
  margin: 300px auto 600px;
  text-align: center;
}

.flex-container {
  display: flex;
  background: #ccc;;
}

.article-body {
  margin: 0;
  padding: 1px 3em;
  background: white;
  min-height: 600px;
  color: black;
}

.reveal-container {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.text-container {
  padding: 2em;
  height: 300px;
  overflow: hidden;
}

h1 {
  padding: 0;
  margin: 0;
  font-weight: bolder;
  font-size: 3em;
}

h2 {
  margin: 2em 0.5em 0.5em 0;
}

.item {
  margin: 0;
  width: 150px;
  height: 150px;
  background: #ccc;
  z-index: 999;
  display: inline-block;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.fixed-buttons {
  background: white;
  position: fixed;
  text-align: right;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0.25rem;
  padding: 0.25em;
  font-size: 1.25em;
}